.chatBox {
	position: relative;
	background-color: #fff;
	border: 1px solid #eee;

	float:left;
	width: 0;
	height: 0;

	overflow: hidden;

	opacity: 0;
	transition: all 1s;
}

.chatBox.animate {
	width: 50%;
	height: 510px;
	opacity: 1;
	background-color: rgba(255, 255, 255, 0.6);
}

.chatBox .close {
	float: right;
	margin-right: 14px;
	padding: 0px 10px;
	background: black;
	color: white;
}

.chatBoxHeader {
	text-align: center;
	border-bottom: 1px solid #eee;
	text-transform: uppercase;
}

.ownWebCamBox {
	border-bottom: 1px solid #eee;
	background-color: rgba(255, 255, 255, 0.6);
}

.ownWebCamBox video {
	height: 150px;
}

/* ***** MESSAGES ******/
.chatBox .chatBoxMessages {
	overflow: auto;
	height: 285px;
	padding: 15px;
	border-bottom: 1px solid #eee;
}

.chatBox .chatBoxMessages > div {
	line-height: 24px;
}

.chatBox .chatBoxMessages .server {
	color: grey;
	font-style: italic;
}

.chatBox .chatBoxMessages .self {
	color: blue;
}

/* ***** MESSAGES ******/

#chatBoxesContainer {
	margin-left: 220px;
}

.chatBox .chatBoxUsers > div > div img {
	padding-right: 5px;
	height: 16px;
}

.chatBox .chatBoxUsers h3{
	border-bottom: 1px solid grey;
	text-align: center;
}

.chatBox .chatBoxInput {
	padding: 5px;
}

.chatBox .chatBoxInput input {
	width: 100%;
	padding: 10px;
	background-color: #eee;
	border: 1px solid rgb(215, 215, 215);
}

.chatBox .isTypingBox {
	font-style: italic;
	position: absolute;
	right: 0px;
	bottom: 0;
}

.chatBox .isTypingBox:empty {
	display: none;
}