#usersContainer {
	height: 650px;
	width: 210px;
	float: left;
	background-color: rgba(255, 255, 255, 0.6);
	padding: 5px;
}

#usersContainer > ul {
	padding-left: 0;
	margin-left: -30px;
}

#usersList > ul  {
	height: 455px;
	overflow: auto;
	list-style-type: none;
	padding-left: 0;
}

#usersList > ul > li {
	text-transform: uppercase;
	margin-top: 5px;
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0.3);
	padding-bottom: 3px;
}

#usersList > ul > li:hover {
	background: grey;
	background-color: rgba(255, 255, 255, 0.5);
}

#usersList > ul > li> img {
	height: 20px;
	margin-right: 10px;
	margin-top: 5px;
	margin-bottom: -3px;
	margin-left: 3px;
}