.videoBox {
	position: relative;
}

.videoBox .videoButtons {
	position: absolute;
	top: 0;
	left: 0;
}

.videoBox .videoButtons > * {
    height: 30px;
    float: left;
    margin-top: 10px;
    margin-left: 5px;
}

.videoBox video {
	width: 200px;
}