.smiley{
	width: 20px;
	height: 20px;
	display: inline-block;
}

.smiley.happy{
	background: url(../img/emoji.png) -440px 840px;
}

.smiley.veryHappy{
	background: url(../img/emoji.png) -440px 820px;
}

.smiley.sad{
	background: url(../img/emoji.png) -460px 820px;
}

.smiley.crying{
	background: url(../img/emoji.png) -460px 760px;
}

.smiley.angry{
	background: url(../img/emoji.png) -460px 780px;
}

.smiley.tong{
	background: url(../img/emoji.png) -460px 880px;
}

.smiley.blink{
	background: url(../img/emoji.png) -440px 660px;
}

.smiley.openMouth{
	background: url(../img/emoji.png) -460px 680px;
}

.smiley.love{
	background: url(../img/emoji.png) -60px -140px;
}

.smiley.kiss{
	background: url(../img/emoji.png) -300px 720px;
}

.smiley.thumb{
	background: url(../img/emoji.png) -260px -440px;
}

.smiley.crossSmile{
	background: url(../img/emoji.png) -440px 720px;
}