@import 'smileys';
@import 'banners';
@import 'component/video-box';
@import 'component/users-list';
@import 'component/chat-box';

* {
	box-sizing: border-box;
}

a {
	cursor: pointer;
}

ul {
	padding-left: 0;
	list-style-type: none;
}

html, body{
	margin: 0;
	padding: 0;

	font-family: Comic Sans MS, Verdana, Arial, sans-serif;
}

html{
	height:100%;
	min-height:100%;
}
body{
	min-height:100%;
}

body {
	background-image: url(http://wallpaper-download.net/wallpapers/love-wallpapers-cute-hearts-backgrounds-wallpaper-33957.jpg);

	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-ms-background-size: 100%;
	background-size: 100%;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	-webkit-background-attachment: fixed;
	-moz-background-attachment: fixed;
	-ms-background-attachment: fixed;
	background-attachment: fixed;
}

.wrapper {
	width: 1272px;
	height: 100%;
	margin: 0 auto;
	padding: 10px;
	position: relative;
}

#header {
	padding: 20px;
	margin-bottom: 50px;
}

#videoContainer{
	padding: 20px;
}

#videoContainer video {
	width: 200px;
}